body {

}

html {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	margin:55px 5% 95px 5%;
	width:90%;

}

/* header */
.header {
	display:flex;
	justify-content: space-between;
	color: #9A9A9A;
	font-size: 1em;
}

.infocraft_logo {
	display:flex;
	flex-direction: row;
}

.infocraft_logo img {
	margin-top: 15px;
	margin-right: 8px;
}

.infocraft_logo_title {
	display: flex;
	flex-direction: column;	
}

.infocraft_main_logo_title{
	font-size:1.2em;
}

.phone_number, .call_me_back {
	color: #F78C42;
}

/* navigation */

.nav {
	display: flex;
	background-image: linear-gradient(45deg, #8D8C8C, #525252);
	margin:40px 0;	
	

}
.nav_items_list {	
	display: flex;
	list-style: none;
}

.nav_item {	
	margin: 5% 10%;
} 

.nav_item a {
	color: #FFF;
	text-decoration: none;
}

.programs_wrapper {
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	font-size: 1.5em;
}

.programs_wrapper a{
	color: #FFF;
	margin-left:30px;
}
.programs_container {
margin:20px;

}
.programs_wrapper img {
	margin-bottom:-8px;
	border-radius: 10px 10px 0 0;
}
.programs_text {		
	height:110px;
	display:flex;
	align-items:center;
	border-radius: 0 0 10px 10px;
}

.SNT {
	background-image: linear-gradient(45deg, #8DB3D4, #3396CD);
}

.TSG{	
	background-image: linear-gradient(45deg, #C1BF1F, #7DA644);
}

.TSN{	
	background-image: linear-gradient(45deg, #F99042, #D34310);
}

.slider {
	width: 90%;
	height: 500px;
	background-color: #25EDCF;
}

.footer {
	display: flex;
	justify-content: space-between;
	padding: 0 10%;
}

.footer_navigation_list {
	list-style: none;	
	}
.footer_navigation_list a {
	color: #666666;
}

.special_propose span {
	font-size: 21px;
}
.special_propose p {
	color: #666666;
}
.special_propose button {
	color: #FFF;
	background-color:#70D0FD;
	border: 0;
	padding: 3.5px;
}
