body {
	margin:0;
	padding:0;
	font-weight: 500;
}

body * {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
}

section {
	margin: 0 23px;
}

header {
	display: flex;	
	justify-content: space-between;	
}

h2 {
	font-size: 22px;
	line-height: 27px;
	color: #00527B;
	text-align:center;
}

h3 {
	font-size: 24px;
	line-height: 29px;
}

h4 {
	font-size: 24px;
	line-height: 29px;
	color: #FF931A;
	margin-top:0;
}

figure {
	margin:0;
}

figure p, figcaption {
	text-align: center;
}

p, figcaption {
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;	
	margin-bottom:0;
	padding-bottom:0;
}


.rk-logo {
	margin: 16px 0 0 23px;
}

.burger {
	margin: 29px 32px 27px 23px;
}

.header-line {
	background-color: #F4F4F4;
	height:3px;
	width:100%;
	border:none;
}

.ADS {
	color: #00527B;
	margin: 0 23px;
}

.ADS h1 {
	font-weight: 800;
	font-size: 26px;
	line-height: 35px;
}

.ADS p {	
	font-size: 17px;
	line-height: 24px;	
}

.red {
	color:#FF1A31;
}

.orange {
	color: #FF931A;
	font-weight: bold;
}


/* позиционируем линии подчеркивания */
.laws-and-GOSTs {
	display: flex;
}

.laws, .GOSTs {
	position: relative;
}

.and {
	margin: 0 5px;
}

.laws-line {
	position: absolute;
	left:0;
	bottom:-5px;
}

.GOSTs-line {
	position: absolute;
	left:0;
	bottom:-4px;
}

.group {
	margin:18px auto 19px auto;
	width: 320px;
	height: 329px;
}


.ready-solution {
	padding-bottom: 13px;
}

.ready-solution p {
	font-size: 15px;
	line-height: 21px;
	color: #333333;
}

.try-free-button	{
	height: 52px;
	font-weight: 800;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	background: linear-gradient(83.91deg, #FF1A31 -1.59%, #FF931A 130.38%);
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
	border-radius: 6px;
	border: none;
	padding: 0 20px;
	margin: 25px auto 14px auto;
	flex-grow:1;
}

.brown {
	background-color: #FFDA7A;
}

/*блок с цитатой Бориса */
.quote {
	padding-top:33px;	
}

/*блок с Борисом на фоне */
.Boris {
	width:320px;
	height: 282px;
	margin:auto;
	margin-top: 8px;
	position:relative;
}

.Boris-text {
	position: absolute;
	top: 10px;
	left:23px;
}

.Boris-text p {
	font-size: 13px;
	line-height: 16px;
}

.Boris-text b {	
	font-size: 14px;
	line-height: 26px;
	text-transform:uppercase;
}


.laptop {
	margin:auto;
}

/* блок "узнайте сколько будет стоить" */
.small-text {	
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	color: #00527B;
	margin-bottom: 25px;
}

/* блок для расчета цены */
.price-calculation {
	margin-bottom:0;	
}

.price-header {
	margin-top: 30px;
}

/* строка с вычислениями */
.calculate-container {
	display: flex;
	justify-content: center;
	margin-bottom:19px;	
	font-size: 13px;
	line-height: 16px;
}

.block {
	display:flex;
}

/* элемент для ввода количества домов*/
.calculate-container input {
	font-size:28px;
	width: 100px;
	height: 50px;
	text-align: center;
	border:3px solid #FF931A;
	box-sizing: border-box;
	border-radius: 10px;	
}

.fixed-sum-block, .one-house-price-block {
	line-height: 34px;
	display: flex;
	flex-direction: column;
}

/*значения для вычислений выделяем в отдельные блоки*/
.fixed-sum, .one-house-price {
	font-size: 28px;
}

.plus img {
	margin-right: 23px;
	margin-left: 14px;
	margin-bottom: -20px;
}

.equals img {
	margin: 0 12px;
	margin-bottom: -17px;
}

.number {
	font-weight: 600;
	font-size: 16px;
	color: #00527B;
}

.number-comment {	
	font-size: 13px;
	line-height: 16px;
	color: #00527B;
}

.result-block {
	font-weight: 600;
	font-size: 16px;
	line-height: 44px;
	color: #23B39A;
}

.result {
	font-size: 28px;
}

/*блок "В электронной диспетчерской" */
.control-room {
	text-align:center;
	margin-bottom:40px;
}

/*список предоставляемых возможностей */
.all-abilities {
	font-weight: 600;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	color: #00527B;
	margin: 0 auto 23px auto;
	list-style-type: circle;
}

.abilities-list {
	margin:87px 53px 84px 0;
}

.abilities-list li {
	color:#D0DEE8;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	border-bottom: solid 1px #F4F4F4;
	padding:10px;

}

.abilities-list li span {
	color: #FF931A;
}

/* Блок "легкая интеграция" */
.simple-integration {
	color: #00527B;
	text-align: center;
	margin-top:95px;
}

.simple-integration p {
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
}

/* блоки с границами */
.container {
	margin-top: 75px;
	position: relative;
	color:#00527B;
	border: 2px solid #D0DEE8;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 44px 15px 21px 15px;
}

.container-header {
	position: absolute;
	top: -25px;
	left: 20px;
	transform: translateY(-50%);
	background-color: #fff;
	padding: 0 8px;
}

.button-block {
	display: flex;
	justify-content: center;
	padding:0;
}

/* кнопка "попробовать бесплатно" внутри блока */
.container-button {
	flex-grow:1;
	height: 52px;
	font-weight: 800;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	background: linear-gradient(83.91deg, #FF1A31 -1.59%, #FF931A 130.38%);
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
	border-radius: 6px;
	border: none;
	padding: 0 30px;
	margin-bottom: 0;
}

.server-image {
	display: flex;
	justify-content: flex-end;
	margin:24px -40px 14px 0;
}

/* доп отступы для элементов в блоках */
.integration button {
	margin-top:35px;
}

.we-garantee p {
	margin-bottom:15px;
}

.security-garantees {
	margin-top: 130px;
}

.security-header {
	top: -50px;
}

.lightning {
	margin-top: 40px;
}


.cat {
	display: flex;
	justify-content: flex-end;
	margin-bottom: -21px;
}

.priority {
	margin:0;
}

.priority-header p {
	font-weight: 600;
	text-transform: uppercase;
}

.logo {
	margin-top: 30px;
	margin-bottom: 15px;
}

.document {
	margin-top: 30px;
	margin-bottom: 14px;		
}

.document img {
	border: solid 7px #00527B;
	border-radius: 4px;
}

.icon {
	margin-top: 30px;
	margin-bottom: 20px;
}

.lines-image {
	margin-left:13px;
	margin-top:21px;
}

.extra {
	display: none;
	margin-bottom:0;
	padding-bottom:0;
}

.extra-button {
	display:flex;
	border:none;
	border-radius: 11px;
	padding:8px 0 7px 24px ;	
	font-size: 15px;
	line-height: 24px;
	text-align: center;
	color: #00527B;	
	font-size: 15px;
	line-height: 24px;
	text-align: center;
	color: #00527B;
	background-color: #D8E5ED;
	margin: 19px auto 0 auto;
}

/* выравниваем стрелочку у кнопки */
.arrow {
	margin:10px 25px 0 10px;
}

.phone-button {
	height: 52px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	background: linear-gradient(83.91deg, #FF1A31 -1.59%, #FF931A 130.38%);
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
	border-radius: 6px;
	border: none;
	padding: 0 20px;
	margin: 24px auto 44px auto;
	flex-grow:1;
	font-weight: 600;
	font-size: 23px;
	line-height: 28px;
}

.our-clients {	
	font-size: 16px;
	line-height: 25px;
	color: #00527B;
	background-color: #EAF1F6;
	margin:0;
	padding:34px 23px 0 23px;
}

.our-clients-header {
	text-align:left;
}

.google-maps {
	border:none;
}