<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Secret Santa</title>
</head>

<body ng-app="app">
    <main class="content" ng-controller="SecretSantaController">
        <div class="message" ng-hide="persons.length || isUploaded || !persons.length && giftedPerson">
            <h2>
                Список участников пуст. Введите новый список фамилий участников через запятую и нажмите кнопку
                "сформировать список"
            </h2>
            <input type="text" ng-model="enteredPersonsList">
            <button class="save-button" ng-click="savePersons()" ng-disabled="!enteredPersonsList">
                сформировать список
            </button>
        </div>
        <div class="main-block" ng-hide="isRecieved || !persons.length">
            <p class="desktop">
                Список участников:<span> {{personsStartedList}}</span>
            </p>
            <p class="mobile">
                Список участников: <span ng-repeat="person in personsStartedList">{{person}}</span>
            </p>
            <h2>
                Введите свою фамилию, затем нажмите кнопку 'стать Сантой', чтобы узнать кому дарить подарок.
            </h2>
            <div class='form-group'>
                <input type="text" ng-model="user">
                <button class="load-button" ng-click="loadPerson()" ng-disabled="!user">
                    стать Сантой
                </button>
            </div>
        </div>
        <br>
        <div ng-show="giftedPerson">
            Кому дарить: {{giftedPerson}}
        </div>
        <button class="get-back-button" ng-show="giftedPerson" ng-click="reloadPage()">
            вернуться
        </button>
    </main>
    <script src="js/angular.min.js"></script>
    <script src="js/ngStorage.min.js"></script>
    <script src="js/santa.js"></script>
</body>

</html>