<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Santa</title>
</head>
<body ng-app="app">
    <main ng-controller="SecretSantaController">
        <div class="message" ng-hide="list.length || isUploaded"><h2>Список участников пуст. Нажмите кнопку "сформировать список"</h2>
            <button class="button" ng-click="savePersons()">сформировать список</button>
        </div>
        <div class="main_block" ng-hide="isRecieved || !list.length">
            {{startedList}}
            <h2>Введите свою фамилию, затем нажмите кнопку 'стать Сантой', чтобы узнать кому дарить подарок.</h2>
            <input type="text" ng-model="user">
            <button class="button" ng-click="loadPerson()">стать Сантой</button>
        </div>
        <br>
        {{checkedPerson}}
    </main>   
    <script src="js/angular.min.js"></script>
    <script src="js/ngStorage.min.js"></script>
    <script src="js/santa.js"></script>
</body>
</html>