.content {
    text-align: center;
}

.mobile {
    display: flex; 
    flex-direction: column;
}

.get-back-button {
    margin-top: 10px
}

@media (min-width: 415px) {
    .mobile {
        display: none;
    }
}

@media (max-width: 415px) {
    .desktop {
        display: none;
    }
    .save-button, .load-button {
        margin-top: 10px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
    }
}


